.nav-bar-container {
  .app-name {
    font-family: var(--font-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);

    @media (max-width: 900px) {
      display: none;
    }
  }

  .search-wrapper {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 30px;
    background-color: white;
    color: black;
    margin-right: 8px;
    margin-left: 8px;
    width: auto;
    min-width: 480px;

    @media (max-width: 900px) {
      min-width: 360px;
    }

    @media (max-width: 500px) {
      min-width: 240px;
    }
  }

  .search-icon-wrapper {
    padding: 8px;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-field {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-medium);
    max-width: 460px;

    &::before {
      border-bottom: none !important;
      transition: none !important;
    }

    &::after {
      border-bottom: none !important;
      transition: none !important;
    }
  }
}

.navbar-menu-item {
  font-family: var(--font-primary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
}

.navbar-menu-item-mobile {
  font-family: var(--font-primary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
}
